{
  "presets": [
    ["@babel/preset-env", {
        "modules": "false",
        "targets": {
            "browsers": ["last 2 versions", "ie >= 10"]
        }
    }]
],
  "plugins": ["syntax-async-functions", "transform-regenerator", "@babel/plugin-syntax-dynamic-import"]
}